html
  head
    title Payment Successful
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      h1 Payment Successful
      p Your premium features are now active!
      a(href='/practice') Start Practicing